$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$red: #e3350e;
$yellow: #ffcd04;
$blue: #2764ae;

$grid-breakpts: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
) !default;

.fire { background-color:  #FDDFDF };
.grass { background-color:  #DEFDE0 };
.electric { background-color:  #FCF7DE };
.water { background-color:  #DEF3FD };
.ground { background-color:  #f4e7da };
.rock { background-color:  #d5d5d4 };
.fairy { background-color:  #fceaff };
.poison { background-color:  #98d7a5 };
.bug { background-color:  #f8d5a3 };
.dragon { background-color:  #97b3e6 };
.psychic { background-color:  #eaeda1 };
.flying { background-color:  #F5F5F5 };
.fighting { background-color:  #E6E0D4 };
.normal { background-color:  #F5F5F5 };
.steel { background-color:  #a09f97 };
.dark { background-color:  #6e6e6e };
.ghost { background-color:  #c4dddf };

.boy { 
    background-color: #43baff38;
    background: -webkit-linear-gradient(to right, #aaa5d8, #0a204e);
	background: linear-gradient(to right, #4c439c9e, #6ebafba6);
}
.girl { background-color: rgb(221, 173, 181);
    background: -webkit-linear-gradient(to right, #bea0c4, #570950);
	background: linear-gradient(to right, #bea0c4, #0a204e);
}