header {
    background-color: $red;
    color: #fff;
    height: 90px;
    text-align: center;
    img {
        width: 200px
    }
}

.nav { 
    height: 35px;
}

main{
    min-height: calc(100vh - 155px); 
}

footer {
    background-color: $red;
    color: $yellow;
    height: 30px; 
    text-align: center;
    padding: 5px 0;
    font-size: 1rem;
}

@media only screen and (max-width: map-get($grid-breakpts, "sm")) {
	header {
        height: 70px;
		img {
            width: 100px;		}
	}
    main{
        min-height: calc(100vh - 135px); 
    }
}